* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('./assets/background.jpg') no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.rodape {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

.texto-rodape, .texto-rodape a {
    color: lightgrey;
    font-size: 14px;
}