* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('./assets/background.jpg') no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    position: absolute;
    top: 10px;
    left: 5px;
    color: black
}

.informacoes {
    display: none;
    position: absolute;
    width: 300px;
    top: 0;
    left: 25px;
    padding: 1rem;
    background: rgba(255, 255, 255, .05);
    backdrop-filter: blur(5px);
    border-radius: 5px;
}

.mostrar-informacoes {
    display: block;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.horas, .minutos, .segundos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background: rgba(255, 255, 255, .05);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

.hora, .minuto, .segundo {
    font-size: 106px;
    font-weight: 700;
}

.info-hora, .info-minuto, .info-segundo {
    font-size: 20px;
}

.rodape {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

.texto-rodape, .texto-rodape a {
    color: darkgrey;
    font-size: 14px;
}