@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Grenze Gotisch', cursive;
    list-style: none;
}

:root {
    --color-primary: black;
    --color-secondary: darkred;
    --color-text: white;
    --color-box: rgba(40,40,40,100);
}

a {
    text-decoration: none;
    color: var(--color-text);
}

a:hover {
    color: var(--color-secondary);
}

body {
    background: var(--color-primary);
}

header {
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    width: 100vw;
    height: 10vh;
    backdrop-filter: blur(5px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cabecalho {
    display: flex;
    flex-direction: row;
}

.cabecalho img {
    max-height: 6vh;
    margin-top: 2vh;
    margin-left: 1vh;
}

.cabecalho-nav {
    margin-top: 2vh;
}

.cabecalho-nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cabecalho-nav-link {
    padding-right: 1vw;
}

.correcao-cabelho-fixo {
    padding-top: 9vh;
}

.biografia img {
    max-width: 100%;
}

.card {
    margin-left: 8%;
    margin-top: -10vh;
}

.card-biografia {
    color: var(--color-text);
    text-align: justify;
    backdrop-filter: blur(5px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-biografia {
    max-width: 80vw;
    padding: 2vw;
    border-radius: 10px;
}

.titulo-discografia, .titulo-videos, .titulo-shows, .titulo-contato, .titulo-redessociais {
    color: var(--color-text);
    margin-left: 10%;
}

#discografia, #videos, #shows, #contato, #redessociais {
    margin-top: 1rem;
}

.album {
    color: var(--color-text);
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background: var(--color-box);
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    max-width: 80vw;
}

.album img {
    max-width: 30vw;
    padding-top: .65rem;
}

.album div {
    padding-left: 1rem;
}

.album div h3 {
    font-size: 24px;
}

.album ul {
    padding-left: 1rem;
}

.album li {
    list-style: decimal;
}

.discografia-artista {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.discografia-artista a {
    background: var(--color-secondary);
    padding: 3px 15px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    box-shadow: 3px 3px 0 var(--color-text);
}

.discografia-artista a:hover {
    color: var(--color-primary);
}

.iframe-spotify {
    max-width: 88vw;
    margin-top: 2rem;
}

#videos {
    margin-top: 1rem;
}

.iframe-yt {
    max-width: 80vw;
    max-height: 20vh;
    margin-left: 10vw;
}

.shows article {
    color: var(--color-text);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}

.linha-shows {
    margin-left: 2rem;
    width: 80vw;
}

.data, .pais {
    font-size: 20px;
    font-weight: 700;    
    text-shadow: 1px 1px 0 var(--color-secondary);
}

.local {
    text-shadow: 1px 1px 0 var(--color-secondary);
}

.ingressos {
    background: var(--color-secondary);
    padding: 3px 15px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
}

.ingressos:hover {
    color: var(--color-primary);
}