@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root {
    /* Primary */
    --orange: hsl(25, 97%, 53%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body {
    background: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

main {
    padding: 2rem 2.9rem;
    background: linear-gradient(var(--dark-blue), var(--very-dark-blue));
    width: 600px;
    border-radius: 25px;
}

h1 {
    color: var(--white);
}

.input {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

span {
    color: var(--white);
}

input {
    border: none;
    color: var(--very-dark-blue);
    border-radius: 5px;
    height: 30px;
    font-size: 24px;
    background: var(--white);
}

input::placeholder {
    color: var(--dark-blue);
    padding-left: .25rem;
}

button {
    color: var(--white);
    background: var(--orange);
    border: none;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    height: 30px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    color: var(--very-dark-blue);
}

#resp {
    margin-top: 1rem;
    color: var(--white);
}